<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- https://stackoverflow.com/questions/4022434/how-to-set-the-maxallowedcontentlength-to-500mb-while-running-on-iis7 -->

				<requestLimits maxAllowedContentLength="62914560"></requestLimits>

			</requestFiltering>
		</security>
	</system.webServer>
</configuration>